{:deps
 {commons-codec/commons-codec {:mvn/version "1.17.1"}
  cheshire/cheshire {:mvn/version "5.13.0"}
  org.bouncycastle/bcprov-jdk18on {:mvn/version "1.78.1"}
  org.bouncycastle/bcpkix-jdk18on {:mvn/version "1.78.1"}}
 :paths ["src" "resources" "target/classes"]
 :aliases
 {:dev
  {:extra-deps
   {org.clojure/tools.namespace {:mvn/version "RELEASE"}
    org.clojure/test.check {:mvn/version "RELEASE"}
    org.clojure/tools.deps.alpha {:mvn/version "RELEASE"}
    org.clojure/clojure {:mvn/version "1.11.3"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    criterium/criterium {:mvn/version "RELEASE"}}
   :extra-paths ["test" "dev"]}

  :codox
  {:extra-deps
   {codox/codox {:mvn/version "RELEASE"}
    org.clojure/tools.reader {:mvn/version "RELEASE"}
    codox-theme-rdash/codox-theme-rdash {:mvn/version "RELEASE"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build
  {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
   :ns-default build}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
